<div id="<%= dom_id publication %>">
  <p>
    <strong>Header:</strong>
    <%= publication.header %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= publication.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

</div>
