<p style="color: green"><%= notice %></p>

<% content_for :title, "Publications" %>

<%= button_to "New publication", new_publication_path, method: :get %>

<h1>Publications</h1>

<div id="publications">
  <% @publications.each do |publication| %>
    <%= render publication %>
    <p>
      <%= button_to "Show this publication", publication, method: :get %>
    </p>
  <% end %>
</div>

